* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #001930;
  color: white;
  font-family: "Alatsi";
}

.logo {
  font-size: 2rem;
}

.problems {
  height: 100vh;
  padding: 1px;
}
.problembar {
  cursor: pointer;
  transition: 0.5s ease;
}
.problembar :hover {
  box-shadow: 1px 1px #525151, 2px 2px #525151, 3px 3px #525151, 4px 4px #525151,
    5px 5px #525151, 6px 6px #525151;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: 0.5s ease;
}

#announcement {
  text-align: center;
  margin-top: 10%;
}
/*Left Section of coding screen */
#codescreen {
  height: 100vh;
}

.left {
  height: 100vh;
  overflow-y: scroll;
  margin: 5px 0;
}

.left > p {
  font-size: 15px;
}

.probtop{
  position: relative;
  bottom: 2px;
}

/*Right Section of coding screen */
#codearea {
  width: 100%;
  height: 40vh;
  font-size: 14px;
  overflow-y: scroll;
}

#outputarea {
  width: 100%;
  height: 25vh;
  overflow-y: scroll;
  font-size: 15px;
}
