*{
  margin: 0;
  padding: 0;
}

.problems{
  height: 100vh;
}
/*Left Section of coding screen */
#codescreen{
  height: 100vh;
}

.left{
  height: 100vh;
  overflow-y: scroll;
  margin: 5px 0;
}

.left > p {
  font-size:15px;
}

/*Right Section of coding screen */
#codearea{
  width: 100%;
  height: 40vh;
  font-size: 14px;
  overflow-y: scroll;
}

#outputarea{
  width: 100%;
  height: 25vh;
  overflow-y: scroll;
  font-size: 15px;
}